{
  "root": true,
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
  },
  "ecmaFeatures": {
    "defaultParams": true
  },
  "rules": {
    // It really is not confusing.
    "no-confusing-arrow": 0,

    // Semi-strict max width
    "max-len": [
      "error",
      {
        "ignoreComments": true,
        "ignoreStrings": true,
        "code": 80
      }
    ],

    // Going hipster
    "semi": [2, "never"]
  }
}
